/* Estilo dos ícones das redes sociais */
.social-links i {
    font-size: 20px; /* Tamanho dos ícones */
    color: #fff; /* Cor dos ícones */
    margin-right: 10px; /* Espaço entre os ícones */
}

.social-links i:hover {
    color: #007bff; /* Cor quando o ícone é hovered */
}

.icons-top {
    font-size: larger;
}

.icons-top a {
    font-size: larger;
    padding-left: .6em;
    padding-right: .6em;
}

/* Ajuste para exibir os ícones na mesma linha quando o menu estiver colapsado */
@media (max-width: 991px) {
    .social-links-wrapper {
        margin-top: 10px;
        display: flex;
        justify-content: center; /* Alinha os ícones ao centro */
        gap: 15px; /* Espaçamento entre os ícones */
    }

    .social-links {
        display: flex; /* Garante que os ícones fiquem em linha */
        justify-content: center;
        width: 100%;
    }

    .social-links li {
        list-style: none;
    }

    .icons-top {
        justify-content: space-evenly;
    }
}
